h1 {
	padding-bottom: 20px;
}

.login {
	background: white;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	padding-top: 100px;
}

.login-container {
	background: #f3f3f3;
	width: 300px;
	display: flex;
	flex-direction: column;
	padding: 20px;
	border: 1px solid lightgray;
}

.login-container > h1 {
	font-weight: 500;
	margin-bottom: 20px;
}

.login-container > form > h5 {
	margin-bottom: 5px;
}

.login-container > form > input {
	height: 30px;
	margin-bottom: 10px;
	background: #fff;
	width: 98%;
	border: 1px solid grey;
	border-radius: 4px;
}

.login-container > p {
	margin-top: 15px;
	font-size: 12px;
}

.login-logo {
	width: 100px;
	object-fit: contain;
	margin: 20px 0;
}

.login-signInButton {
	background: lightskyblue;
	border-radius: 2px;
	width: 100%;
	height: 30px;
	border: 1px solid;
	margin-top: 10px;
	border-color: #a88734 #9c7e31 #846a29;
}

button:hover {
	transition: 0.2s;
	background: #000;
	color: lightskyblue;
}
button:active {
	transition: 0.01s;
	background: lightskyblue;
	color: #000;
}

.login-registerButton {
	background: white;
	border-radius: 2px;
	width: 100%;
	height: 30px;
	border: 1px solid;
	margin-top: 10px;
	border-color: darkgray;
}
